body {
  background-color: grey;   
}

body, input, select, textarea {
    color: white;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 17pt;
    font-weight: 600;
    letter-spacing: 0.025em;
    line-height: 1.65;
    height: 100vh;
    justify-content: center;
}
strong {
    font-weight: bold;
}

h1 {
    color: black;
    font-size: 2.5em;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-family: inherit;
    font-size: 20px;
    text-align: center;
}

#intro{
    display: grid;
    grid-template-rows: auto;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#intro-p{
    width: 100%;
    height: auto;
    background: darkgrey;
    margin-top: 0;
}

#button-container{
    display: flex;
    justify-content: space-evenly;
}

#intro-block{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    width: 70%;
}

#intro-image{
    width: 100%;
	height: auto;
	background: url(../img/me2.jpg) no-repeat center;
	background-size: cover;
	margin-right: 0;
	margin-left: 5%;
    margin-top: 0;
    border: solid #000000 3px;
}

nav{
    display: flex;
    justify-content: center;
    background-color: black;
    height: 45px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

#nav-content{
    display: flex;
    width: 95%;
    color: white;
}

#nav-left {
    display: flex;
    width: 38%;
    align-items: center;
    align-self: flex-start;
    height: 100%;
}

#name {
    font-size: 30px;
    font-weight: bold;
}

.button {
    background-color: darkgrey;
    border: solid #000000 3px;
    color: white;
    padding: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: black;
    color: white;
    border: solid darkgrey 3px;
}